.section {
    scroll-margin-top: 82px;
    position: relative;
}

.section-header {
	text-align: center;
	margin-block-start: 0;
    margin-block-end: 0;
	font-size: 2em;
    position: relative;
}

.section .container {
    color: #1B365C;
}

.workout-form-container,
.form-container,
.item-container {
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    background-color: #a8c3db;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.workout-form-container {
    background-color: hsl(208, 47%, 87%);
}

.workout-form-container .workout-form-container-key {
    font-weight: 500;
}

.workout-form-container .add-button {
    font-weight: 500;
    padding: 0.7em;
    margin: 0.5em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    background-color: #e8ef6e;
    color:#727722;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.workout-form-container .add-button:hover {
    background-color: #dae059;
}

.item-container .sub-item-container {
    border-radius: 1em;
    padding: 0.7em 1em;
    margin: 0.5em;
    background-color: #89a2b9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.item-container .sub-item-key {
    font-weight: 500;
}

.form-item {
    margin: .5em;
}

.form-container .form-label,
.item-container .item-key {
    font-weight: 600;
}
.item-container .sub-item-container .sub-item-header {
    font-weight: 500;
    text-decoration: underline;
}

.item-container .amend-button {
    font-weight: 500;
    padding: 0.7em;
    margin: 0.5em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    background-color: rgb(61, 228, 169);
    color: rgb(25, 85, 64);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.item-container .amend-button:hover {
    background-color: rgb(58, 207, 155);
}

.item-container .delete-button {
    font-weight: 500;
    padding: 0.7em;
    margin: 0.5em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    background-color: rgb(233, 114, 114);;
    color: rgb(120, 32, 32);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.item-container .delete-button:hover {
    background-color: rgb(213, 85, 85);;
}

.container p {
    font-weight: 500;
    margin: 1em;
}

.form-container .form-button,
.container .create-button {
    display: inline-block;
    text-align: center;
    background-color: #6789ab;
    border: none;
    border-radius: 1em;
    padding: 1em;
    margin: .5em 1em;
    text-decoration: none;
    color:#132a49;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-container .form-button:hover,
.container .create-button:hover {
    background-color: #527699;
}